.i-vip {
    background: url("../images/m_vip.png");
    background-size: 30px 50px;
    display: inline-block;
}

.icon-vip {
    background-position: -7px -1px;
    width: 17px;
    height: 17px;
}

.icon-s {
    position: absolute;
    bottom: -2px;
    left: 15px;
    z-index: 1;
}

.icon-b {
    position: absolute;
    bottom: -6px;
    left: 30px;
    z-index: 1;
}

.icon-b .icon-vip {
    background-position: -2px -22px;
    width: 25px;
    height: 26px;
}

.article-author-box .icon-s {
    left: 0.5rem;
    bottom: -2rem;
}

/*虎嗅M端会员大改版  单位改为 rem  其他的逐步替换*/
.i-new-vip {
    display: inline-block;
    background: url("../images/icon_vip.png?v=201611292134") no-repeat;
    background-size: 12.5rem 12.5rem;
}

.icon-user-exclusive1 {
    width: 1.5rem;
    height: 1.5rem;
    /*background-position: -9.93rem -4.5rem;*/
    background-position: -0.2rem -1.9rem;
}

.icon-user-exclusive2 {
    width: 1.5rem;
    height: 1.5rem;
    /*background-position: -9.93rem -6rem;*/
    background-position: -2.5rem -1.8rem;
}

.icon-user-exclusive3 {
    width: 1.5rem;
    height: 1.5rem;
    /*background-position: -9.93rem -7.40rem;*/
    background-position: -5.1rem -1.9rem;
}

.nav-ul ul li.active .icon-user-exclusive1 {
    /*background-position: -9.93rem 0rem;*/
    background-position: -0.2rem 0;
}

.nav-ul ul li.active .icon-user-exclusive2 {
    /*background-position: -9.93rem -1.5rem;*/
    background-position: -2.5rem 0;
}

.nav-ul ul li.active .icon-user-exclusive3 {
    /*background-position: -10rem -2.9rem;*/
    background-position: -5.1rem 0;
}

.icon-vip-b {
    position: relative;
    top: 0.4rem;
    background-position: -0.05rem -0.1rem;
    width: 1.5rem;
    height: 1.5rem;
}
.icon-vip-b.vip-due{
    background-position: -0.05rem -10.9rem;
}

.vip-nav-box {
    height: 3rem;
    padding: 0 1.125rem;
    background: #fff;
    margin-bottom: 0.25rem;
    line-height: 3rem;
    font-size: 0.8rem;
}

.icon-exclusive {
    position: absolute;
    /*width: 1.3rem;*/
    /*height: 1.3rem;*/
    /*left: 0.61rem;*/
    /*top: 0.62rem;*/
    width: 1.8rem;
    height: 1.8rem;
    top:50%;
    left:50%;
    margin-top:-0.9rem;
    margin-left:-0.9rem;
}

.icon-yb {
    background-position: -0.36rem -4rem;
}

.icon-qx {
    background-position: -0.123rem -3.87rem;
}

.icon-yz {
    background-position: -6.2rem -3.8rem;
}

.icon-hd {
    background-position: -0.36rem -6.6rem;
}

.icon-new-warning {
    position: relative;
    top: 0.25rem;
    width: 1.1rem;
    height: 1.1rem;
    background-position: -2.19rem -0.2rem;
}

.icon-new-success {
    position: relative;
    top: 0.25rem;
    width: 1.1rem;
    height: 1.1rem;
    background-position: -8.19rem -1.93rem;
}

.icon-user {
    position: relative;
    width: 0.9rem;
    height: 0.9rem;
    top: 0.1rem;
}

.icon-tq {
    background-position: -2.3rem -2rem;
}

.icon-edit {
    background-position: -8.3rem -5.8rem;
}

.icon-yuanz {
    background-position: -2.3rem -3.75rem;
}

.icon-qa {
    background-position: -2.3rem -5.55rem;
}

.icon-lx {
    background-position: -2.3rem -7.25rem;
}

.icon-plat {
    width: 2.5rem;
    height: 2.5rem;
}

.icon-user-qa {
    background-position: -7.75rem 0.25rem;
    width: 2rem;
    height: 2rem;
    margin-top: 1.1rem;
}

.icon-pc {
    background-position: -3.48rem 0.6rem;
}

.icon-web {
    background-position: -3.48rem -1.5rem;
}

.icon-app {
    background-position: -3.48rem -3.7rem;
}

.icon-WeChat {
    background-position: -3.48rem -5.7rem;
}

.icon-radio2 {
    width: 0.9rem;
    height: 1rem;
    background-position: -6.3rem -1.54rem;
    margin-top: 0.8rem;
}

.i-zfb {
    position: relative;
    width: 1.3rem;
    height: 1.3rem;
    background-position: -4.1rem -8.35rem;
    top: 0.3rem;
}

.i-wx {
    position: relative;
    width: 1.3rem;
    height: 1.3rem;
    background-position: -8.1rem -3.85rem;
    top: 0.3rem;
}

.icon-hook {
    position: absolute;
    width: 1.3rem;
    height: 1.3rem;
    background-position: -6rem -3rem;
    margin-left: 0.55rem;
    margin-top: 0.55rem;
    opacity: 0;
}

.icon-close-f {
    position: absolute;
    width: 1.25rem;
    height: 1.25rem;
    background-position: -6.1rem -4.6rem;
    cursor: pointer;
    right: -0.4rem;
    top: -0.45rem;
}

.icon-i-yz {
    width: 2.25rem;
    height: 2.25rem;
    background-position: -5.64rem -7.6rem;
}

/*.icon-qa{*/
/*width: 1.25rem;*/
/*height: 1.25rem;*/
/*background-position:-8.1rem -0.1rem;*/
/*margin-top: 1.5rem;*/
/*}*/
.icon-v-bubble {
    position: relative;
    width: 1rem;
    height: 1rem;
    top: 0.2rem;
    background-position: -1.8rem -9.05rem;
}

.icon-v-agree {
    position: relative;
    width: 1rem;
    height: 1rem;
    top: 0.2rem;
    background-position: -0.1rem -9.05rem;
}

.user-face-vip-box {
    padding-top: 3.75rem;
    text-align: center;
}

.user-face-vip {
    position: relative;
    width: 3.65rem;
    height: 3.5rem;
    margin: 0 auto;
}

.user-face-vip-box .title {
    font-size: 0.9rem;
    margin-top: 1rem;
}

.user-face-vip-box .title2 {
    font-size: 0.7rem;
    margin-top: 0.5rem;
    color: #bbb;
}

.user-face-vip .icon-vip-b {
    position: absolute;
    top: 2.3rem;
    right: 0;
}

.user-face-vip img {
    width: 3.65rem;
    height: 3.65rem;
    overflow: hidden;
    border-radius: 3.65rem;
}

.vip-nav-box a {
    font-size: 0.7rem;
    color: #0da3fa;
}

.vip-nav-content {
    background: #fff;
    padding: 1rem 1.25rem 2.35rem 1.25rem;
}

.vip-nav-content .title {
    position: relative;
    font-size: 0.8rem;
}

.vip-nav-content .title .time {
    font-size: 0.65rem;
    color: #bbbbbb;
}

.vip-nav-content .title a {
    display: inline-block;
    width: 100%;
}

.vip-nav-content ul {
    display: inline-block;
    width: 100%;
    margin-left: 0.7rem;
    margin-top: 1rem;
}

.vip-nav-content li {
    position: relative;
    font-size: 0.65rem;
    float: left;
    width: 2.5rem;
    height: 2.5rem;
    /*background: #ff6036;*/
    border-radius: 2.4rem;
    margin-right: 1.625rem;
}

.vip-nav-content li .name {
    position: absolute;
    text-align: center;
    white-space: nowrap;
    top: 2.75rem;
    width: 100%;
    left: 0;
}

.vip-nav-content li a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.vip-nav-content li.active:before {
    content: '';
    position: absolute;
    width: 0.4rem;
    height: 0.4rem;
    background: #f63756;
    border-radius: 0.4rem;
    border: 0.05rem solid #fff;
    right: 0;
    top: 0.1rem;
}


.vip-nav-content li:nth-child(4) {
    margin-right: 0;
}

.alert-content {
    position: fixed;
    background: #fff;
    z-index: 10000;
    top: 10rem;
    width: 12.5rem;
    left: 3.15rem;
    font-size: 0.75rem;
    text-align: center;
}

.alert-box {
    padding: 1.5rem 1.75rem 0.5rem 1.75rem;
    border-bottom: 0.05rem solid #F0F0F0;
}

.alert-box .info {
    font-size: 0.6rem;
    color: #bbbbbb;
    margin-bottom: 0;
}

.alert-content .content {
    font-size: 0.6rem;
    line-height: 1.5;
    padding: 0;
}

.alert-content .modal-footer {
    height: 2.75rem;
}

.alert-content .modal-footer a {
    float: left;
    width: 50%;
    text-align: center;
    height: 100%;
    line-height: 2.75rem;
}

.alert-content .modal-footer a.single {
    color: #0da3fa;
    width: 100%;
}

.user-info-wrap {
    height: 4.4rem;
    width: 100%;
    position: relative;
    z-index: 10;
    background: #fff;
}

.user-update-info-wrap {
    height: 7.85rem;
}

.user-update-info-wrap .name {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 2.2rem;
}

.user-pic-box {
    position: relative;
    width: 3.25rem;
    height: 3.25rem;
    top: 0.5rem;
}

.user-update-pic-box {
    top: 1.5rem;
    margin: 0 auto;
}

.user-pic-box img {
    border-radius: 3.25rem;
    width: 100%;
}

.user-pic-box i {
    position: absolute;
    right: -0.3rem;
    top: 1.8rem;
}

.user-info-wrap .user-name {
    position: absolute;
    top: 1rem;
    font-size: 0.9rem;
    left: 4.6rem;
}

.user-info-wrap .vip-prompt {
    position: absolute;
    top: 2.7rem;
    font-size: 0.6rem;
    color: #999;
    left: 4.6rem;
}

.user-info-wrap .vip-prompt-link {
    position: absolute;
    top: 1.5rem;
    right: 0.75rem;
    padding: 0 0.8rem;
    border: 0.05rem solid #0da3fa;
    color: #0da3fa;
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 1.5rem;
    font-size: 0.7rem;
}

.user-menu {
    background: #ffffff;
    margin-top: 0.75rem;
}

.user-menu li {
    height: 2.5rem;
    border-top: 0.05rem solid #F0F0F0;
    line-height: 2.5rem;
    font-size: 0.8rem;
    cursor: pointer;
}

.user-menu li .icon {
    margin-top: 0.8rem;
}

.user-menu li a {
    display: inline-block;
    width: 100%;
}

.user-menu li:first-child {
    border: none;
}

.user-menu li .note {
    color: #bbb;
}

.user-menu li .info {
    color: #bbbbbb;
    font-size: 0.8rem;
}

.focus-ol {
    display: inline-block;
    position: absolute;
    margin-top: 0.6rem;
    left: 3rem;
    white-space: nowrap;
    height: 1.3rem;
    overflow: hidden;
    padding-right: 1.5rem;
}

.focus-ol li {
    float: left;
    font-size: 0.6rem;
    color: #bbbbbb;
    border: 0.05rem solid #bbb !important;
    height: 1.25rem;
    line-height: 1.25rem;
    border-radius: 1.25rem;
    padding: 0 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
}

.focus-ol li:last-child {
    margin-right: 0;
}

.user-edit-box {
    background: #ffffff;
    height: 23rem;
    width: 100%;
    display: inline-block;
    padding-top: 0.8rem;
}

.user-edit-box ul li {
    border-bottom: 0.05rem solid #F0F0F0 !important;
}

.user-edit-box ul li input {
    text-align: right;
    margin-top: 0.4rem;
}

.platform-box .title {
    text-align: center;
    font-size: 0.65rem;
    color: #999;
    padding: 2rem 0 1.15rem 0;
}

.platform-ul {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

.platform-ul li {
    display: inline-block;
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.5rem;
    background: #bbb;
    margin-right: 1.675rem;
}

.platform-ul li .name {
    position: absolute;
    text-align: center;
    font-size: 0.65rem;
    bottom: -1.4rem;
    width: 4rem;
    left: 50%;
    margin-left: -2rem;
}

.platform-ul li:last-child {
    margin-right: 0;
}

.pay-box {
    background: #fff;
    margin-top: 0.75rem;
}

.pay-box .bg-title {
    position: relative;
    font-size: 0.9rem;
    color: #333;
    padding-top: 0.95rem;
}

.pay-box .bg-title:before {
    position: absolute;
    content: '';
    width: 0.25rem;
    height: 0.8rem;
    background: #f63756;
    top: 1.05rem;
    left: -0.75rem;
}

.buy-vip-box li.active .icon-radio2, .icon-radio2.active {
    background-position: -6.3rem -0.03rem;
}

.buy-vip-box li input {
    height: 1.6rem;
    width: 12rem;
    font-size: 0.8rem;
    color: #333333;
    background: transparent;
    outline: none;
    border: none;
}

.invoice-vip-box li {
    display: none;
}

.buy-vip-box li:first-child {
    display: block;
}

.vip-success-box {
    position: relative;
    height: 12.75rem;
    background: #1dc353;
    text-align: center;
    color: #fff;
    font-size: 0.9rem;
    width: 100%;
    overflow: hidden;
    padding-top: 4rem;
}

.field-box {
    background: #fff;
    padding-top: 1.35rem;
}

.field-box .title {
    font-size: 0.9rem;
    color: #0da3fa;
    line-height: 0.95rem;
    text-align: center;
}

.field-box .title2 {
    font-size: 0.65rem;
    text-align: center;
    line-height: 0.95rem;
    margin-top: 0.3rem;
}

.field-ul {
    display: inline-block;
    margin-top: 0.75rem;
}

.field-ul li {
    position: relative;
    font-size: 0.75rem;
    height: 1.5rem;
    border: 1px solid #F0F0F0;
    padding: 0 0.75rem;
    border-radius: 1.5rem;
    float: left;
    line-height: 1.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.field-ul li.active {
    border-color: #0da3fa;
    color: #0da3fa;
}

.no-field {
    font-size: 0.65rem;
    color: #999;
    text-align: center;
    margin-top: 1.75rem;
    margin-bottom: 0.5rem;
}

.add-field {
    position: relative;
    padding-bottom: 1.75rem;
}

.add-field input {
    height: 1.5rem;
    width: 100%;
    border-radius: 1.5rem;
    border: 0.05rem solid #0da3fa;
    text-indent: 0.5rem;
    vertical-align: top;
}

.add-field button {
    position: absolute;
    height: 1.5rem;
    width: 3rem;
    background: #0da3fa;
    border-radius: 0 1.5rem 1.5rem 0;
    border: none;
    color: #fff;
    font-size: 1rem;
    right: 0.75rem;
}

.link-right {
    position: absolute;
    right: 0.75rem;
    font-size: 0.7rem;
    color: #bbbbbb;
    margin-top: 1.1rem;
    width: 100%;
    text-align: right;
    z-index: 10;
}

.i-box {
    width: 2.25rem;
    height: 2.25rem;
    background: #0da3fa;
    margin: 0 auto;
    border-radius: 2.25rem;
}

.no-round {
    padding: 3.75rem;
}

.non-vip-box {
    padding: 9.65rem 0;
}

.non-vi-login {
    padding: 0 1rem;
    border-radius: 0.75rem;
    height: 1.5rem;
    display: inline-block;
    line-height: 1.5rem;
    text-align: center;
    border: 1px solid #1d1d1d;
    color: #1d1d1d;
    font-size: 0.75rem;
    margin-top: 0.6rem;
}

.round-box {
    min-height: 14rem;
}

.no-round .info {
    text-align: center;
    font-size: 0.8rem;
    margin-top: 1rem;
    color: #bbb;
}

.no-table-box {
    width: 5.15rem;
    margin: 0 auto;
}

.no-table-box img {
    width: 100%;
}

.round-box section {
    border-bottom: 1px solid #F0F0F0;
    padding: 1.2rem 0;
    display: inline-block;
    width: 100%;
}

.round-box section:last-child {
    border: none;
}

.round-box section .img-box {
    position: relative;
    width: 6.2rem;
    height: 3.5rem;
    overflow: hidden;
    float: left;
}

.round-box section .img-box img {
    width: 100%;
}

.round-box section .title {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin-bottom: 0.2rem;
}

.round-box section .info-box {
    font-size: 0.6rem;
    color: #BBBBBB;
    margin-left: 6.9rem;
}

.round-box section .info-box .r-i-t {
    margin-top: 0.5rem;
    display: inline-block;
}

.round-box section .info-box .r-i-a {
    margin: 0.5rem 0 0 0;
    line-height: 0.9rem;
    max-height: 1.8rem;
    overflow: hidden;
    font-size: 0.6rem;
}

.vouchers-box {
    position: relative;
    width: 100%;
    height: 7.375rem;
    text-align: center;
}

.vouchers-box .vouchers {
    float: left;
    width: 50%;
    font-size: 0.7rem;
}

.vouchers-box .vouchers p {
    margin: 0;
}

.vouchers-box .vouchers .num {
    font-size: 1.75rem;
}

.vouchers-box .vouchers.disabled {
    color: #dddddd;
}

.vouchers-box .title {
    font-size: 0.8rem;
    padding: 1rem 0;
}

.vouchers-box .line {
    position: absolute;
    width: 0.05rem;
    height: 1.25rem;
    background: #dddddd;
    left: 50%;
    top: 50%;
}

.nav-ul {
    position: fixed;
    height: 2.5rem;
    bottom: 0;
    width: 100%;
    border-top: 0.05rem solid #f0f0f0;
    z-index: 100;
}

.nav-ul ul li {
    position: relative;
    width: 33.33%;
    font-size: 0.55rem;
    float: left;
    text-align: center;
}

.nav-ul ul li a {
    display: inline-block;
    color: #bbb;
}

.nav-ul ul li.active a {
    color: #000;
}

.nav-ul ul li:last-child {
    margin-right: 0;
}
.nav-ul ul li a div {
    margin-top: -2px;
}

.report-box section {
    position: relative;
    margin: 1rem;
    overflow: hidden;
}

.report-box section .content-wrap {
    position: relative;
}

.content-img {
    position: relative;
    width: 100%;
}

.content-img .title-tag {
    position: absolute;
    left: 0;
    right: 0;
    top: 4.8rem;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    z-index: 20;
}

.content-img:after {
    /*top: 0;*/
    content: '';
    position: absolute;
    width: 100%;
    /*height: 100%;*/
    /*background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(rgba(0, 0, 0, 0.1)), to(rgba(0, 0, 0, 0.5)));*/
    left: 0;
    right: 0;
    height:3.5rem;
    bottom:0;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%,from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.6)));
}

.content-img img {
    width: 100%;
    vertical-align: top;
}

.report-box section .content-wrap .title {
    font-size: 1rem;
    padding: 0.75rem;
    line-height: 1.5rem;
    /*border-top: 0.05rem solid rgba(255, 255, 255, 0.3);
    border-bottom: 0.05rem solid rgba(255, 255, 255, 0.3);*/
}

.report-box section .content-wrap .title {
    font-size:0.85rem;
    line-height:1.3rem;
    color: #1D1D1D;
    font-weight:bold;
    padding: 0.75rem 0.75rem 0;
}



.user-b-box {
    position: absolute;
    bottom: 1rem;
    height: 1.25rem;
    line-height: 1.3rem;
    font-size: 0.6rem;
    right: 1rem;
    left: 1rem;
    color: #fff;
    z-index: 20;
}

.report-content-info {
   /* margin: 0 0.75rem 0.75rem 0.75rem;*/
    padding: 0.75rem;
    /*background: #F5F5F5;*/
    /*border-radius: 0.1rem;*/
    font-size: 0.75rem;
    color: #8D8D8D;
    line-height: 1.15rem;
}

.report-content-info {
    padding: 0.5rem 0.75rem 0.25rem;
    line-height: 1.1rem;
}



.report-content-info p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    max-height: 3.4rem;
     -webkit-line-clamp: 3;
     -webkit-box-orient: vertical;
    /*padding-bottom:0.5rem;*/
}
.head-keyword {
    display: inline-block;
    height:1.6rem;
    font-size:0.6rem;
    vertical-align: top;
    line-height:1.6rem;
}

.report-content-number {
    font-size: 0.6rem;
    color: #bbb;
    line-height: 1.6rem;
    /*height: 1rem;*/
    height:1.6rem;
    display: inline-block;
    float: right;
}

.report-content-number i {
    vertical-align: top;
}


.user-b-box .user-b {
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 1.25rem;
    overflow: hidden;
    float: left;
    margin-right: 0.5rem;
}

.report-box .link {
    display: inline-block;
    width: 100%;
}

.user-b-box .user-b img {
    width: 100%;
}

.user-b-box .name {

}

.user-b-box .time {
    float: right;
}

.article-pic-box {
    position: relative;
    overflow: hidden;
}

.article-pic-box img {
    width: 100%;
}

.article-pic-box .author-info-box {
    position: absolute;
    z-index: 10;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 50%, #000000 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000000 100%);
    width: 100%;
    height: 100%;
}

.author-info-box .author-pic {
    float: left;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    border-radius: 1.5rem;
    border: 0.125rem solid rgba(0, 0, 0, 0.3);
}

.author-info-box .content {
    position: absolute;
    bottom: 0.75rem;
    right: 0.75rem;
    left: 0.75rem;
    line-height: 1.6rem;
    font-size: 0.6rem;
    color: #bbb;
    padding: 0;
}

.author-info-box .content .name, .author-info-box .content .time {
    margin-left: 0.3rem;
}

.article-vip-list-box section .title {
    font-size: 0.85rem;
    line-height: 1.2rem;
    margin-top: 0.25rem;
    color: #1d1d1d;
}

.time-box span.table-tag-primary {
    display: inline-block;
    text-align: center;
    height: 1.2rem;
    border: 1px solid #04B5FF;
    border-radius: 1.2rem;
    line-height: 1.2rem;
    padding: 0 0.5rem;
    color: #04B5FF;
}

.time-box span.table-tag-primary.disabled {
    border: 1px solid #f0f0f0;
    color: #bbb;
}

.time-box {
    border-bottom: 1px solid #f0f0f0;
    height: 2rem;
    font-size: 0.6rem;
    line-height: 1rem;
    padding-top: 0.3rem;
    margin-bottom: 1rem;
}

.time-box span {
    line-height: 1;
    padding-right: 0.6rem;
    color: #bbb;
}

.time-box span:nth-child(2) {
    border: none;
    padding-left: 0.4rem;
}

.time-box span:last-child {
    border: none;
    padding-right: 0;
    margin-top: 0.3rem;
}

.v-tag {
    position: absolute;
    width: 3.5rem;
    height: 0.9rem;
    background: #fc565e;
    z-index: 10;
    right: -0.83rem;
    top: 0.49rem;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    line-height: 1.0rem;
    color: #fff;
    font-size: 0.5rem;
    text-align: center;
}

.v-tag.disabled {
    background: #DDDDDD;
    color: #8D8D8D;
}

.v-tag.tag-default {
    background: #bbbbbb;
}

.v-tag.tag-primary {
    background: #0da3fa;
}

.price {
    color: #f63756;
    display: inline-block;
    margin-left:0.9rem;
}

.info-prompt {
    height: 0.75rem;
    background: #f63756;
    color: #fff;
    font-size: 0.5rem;
    padding: 0 0.5rem;
    border-radius: 0.75rem;
    margin-left: 0.6rem;
}

.bgw {
    background: #fff;
}

/*个人中心*/
.content {
    padding: 1.75rem 0.625rem 1.5rem 0.625rem;
}

.c1 {
    color: #0da3fa;
}

.content ul li {
    list-style-type: decimal;
    font-size: 0.85rem;
    line-height: 1.35rem;
    margin-bottom: 1.75rem;
    margin-left: 0.875rem;
}

.content ul li .problem {
    margin-bottom: 0.75rem;
}

.content ul li p {
    margin-bottom: 1.625rem;
    line-height: 1.2rem;
}

.content .title {
    position: relative;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 1.25rem;
}

.content .title:before {
    position: absolute;
    content: '';
    width: 0.25rem;
    height: 0.8rem;
    background: #f63756;
    left: -0.625rem;
    top: 0.1rem;
}

.ticket-disabled .icon-radio.icon-vip-radio {
    background-position: -6.3rem -1.54rem;
}

/*公用过渡*/
.transition {
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.vip-logo-box {
    height: 8rem;
    background: #fff;
    text-align: center;
    font-size: 0.85rem;
}

.vip-logo-box img {
    width: 4.025rem;
    height: 3.825rem;
    margin-top: 1.3rem;
}

.vip-logo-box p {
    margin-top: 0.375rem;
}

.line {
    background: #f5f5f5;
    height: 0.5rem;
}

.info-box {
    background: #fff;
}

.info-box .title {
    position: relative;
    font-size: 0.9rem;
    color: #ff6036;
    margin: 0.95rem 0.625rem 0.75rem 0.625rem;
}

.info-box .title:before {
    content: '';
    position: absolute;
    width: 0.25rem;
    height: 0.8rem;
    background: #ff6036;
    left: -0.625rem;
    top: 0.1rem;
}

.info-box p {
    font-size: 0.8rem;
    line-height: 1.2rem;
    margin: 0 0.625rem 0.75rem 0.625rem;
}

.info-box-earlier .title {
    color: #3bccc5;
}

.info-box-earlier .title:before {
    background: #3bccc5;
}

.info-box-desk .title {
    color: #ffb500;
}

.info-box-desk .title:before {
    background: #ffb500;
}

.article-info-time .i-new-vip {
    margin-top: -0.5rem;
    margin-left: 0.5rem;
}

.article-title-box {
    top: 0;
    height: 100%;
    padding: 0 1rem;
    left: 0;
    right: 0;
}

.platform-box {
    background: #fff;
}

.user-vip-top-box {
    height: 2.2rem;
    background: #fff;
    position: relative;
    border-bottom: 1px solid #f5f5f5;
}

.user-vip-top-box .user-box {
    position: relative;
    float: right;
    width: 1.4rem;
    height: 1.4rem;
    right: 1rem;
    top: 0.4rem;
    margin-left: 0.75rem;
}

.user-vip-top-box .user-box img {
    width: 100%;
    border-radius: 50%;
}

.vip-open-login {
    float: right;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.vip-open-login a {
    display: inline-block;
    height: 1.15rem;
    background: #EEEEEE;
    border-radius: 1.15rem;
    color: #1d1d1d;
    font-size: 0.65rem;
    line-height: 1.15rem;
    text-align: center;
    padding: 0 0.5rem;
    vertical-align: top;
    margin-left: 0.6rem;
}

.vip-open-login a.active {
    border: 1px solid #FC565E;
    color: #FC565E;
    background: #fff;
}

.table-tag-box {
    height: 2.25rem;
    background: #fff;
    font-size: 0.75rem;
    line-height: 2.25rem;
    text-align: center;
    width: 100%;
}

.table-tag-box a {
    color: #bbb;
}

.table-tag-box li {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-right: 2.25rem;
}

.table-tag-box li:last-child {
    margin-right: 0;
}

.table-tag-box li.active:after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 0.1rem;
    background: #1d1d1d;
    width: 100%;
    left: 0;
}

.table-tag-box li.active a {
    font-weight: bold;
    color: #1d1d1d;
}


/*开通会员*/
.color-b {
    color:#bbbbbb;
}
.footer-style {
    background:#303030;
    line-height:2.5rem;
    height:2.5rem;
    font-size:0.75rem;
}

.font-28 {
    font-size:0.7rem;
}

.open-vip-box {
    margin-top:0.25rem;
    background: #fff;
}

.user-info li {
    border-bottom:1px solid #F0F0F0;
    color: #303030;
    padding:0.8rem 0.8rem 0.85rem 1.5rem;
    font-size:0.8rem;
    line-height:1.6rem;
}


.user-info li:first-child em {
    height:1.15rem;
    width:0.05rem;
    background: #c0c0c0;
    display: inline-block;
    margin-right:0.4rem;
    margin-left:0.5rem;
    vertical-align:middle;
}
.user-info li:first-child label {
    margin-right:0.9rem;
}

.area-code i{
    width: 0.5rem;
    height: 0.5rem;
    background-position: 0.05rem -1rem;
}

.user-job {
    position: relative;
}
.user-job i {
    right:0.8rem;
    top:0.45rem;
    background-position: -165px -208px;
}
.user-job label {
    position:absolute;
}

.user-job-info{
    width: 100%;
    display: inline-block;
    padding-left:2.45rem;
    padding-right:1.8rem;
}
.user-job-info select {
    color: #333333;
    width: 100%;
    outline: none;
    line-height:1.6rem;
    background: transparent;
    border: none;
}
.user-hy-info {
    padding-left:4.05rem;
}
.user-focus{
    height:1.6rem;
    cursor: pointer;
}
.focus-content {
    display: inline-block;
    width:100%;
    height:1.6rem;
    overflow: hidden;
    /*white-space: nowrap;*/
    text-overflow: ellipsis;
    padding-right:0.38rem;
}
.focus-content span {
    display: inline-block;
    height:20px;
    line-height:20px;
    color: #303030;
    font-size: 12px;
    border: 1px solid #303030;
    padding: 0 0.45rem;
    border-radius: 1.5rem;
    margin-right:0.2rem;
}

.focus-content input {
    border:none;
}
.phone-num,.user-job .user-name {
    border:none;
    width:6rem;
    color:#303030;
}

.user-job .user-name {
    margin-left:2.45rem;
    padding:0 0.2rem;
}

.user-sex {
    position: absolute;
    right:0.8rem;
    top:0.15rem;
    width:3rem;
    height:1.35rem;
    line-height:1.35rem;
    text-align: center;
    border:1px solid #e8e8e8;
    border-radius:1.5rem;
    font-size:0.6rem;
    color: #909090;
    cursor: pointer;
}
.man {
    right:4.4rem;

}
.user-sex.active {
    border-color:#303030;
    color: #303030;
}
.focus-wrap {
    display: none;
}

.focus-info .title2{
    color: #909090;
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 0;
    text-align: center;
    margin-bottom:0.7rem;
}
.focus-list li {
    color:#909090;
}
.focus-list li.active {
    color:#303030;
    border-color:#303030;
}
.focus-list {
    margin-top:0.95rem;
    padding-right:0.6rem;
}
.no-focus {
    color:#c0c0c0;
    margin-top: 2.4rem;
    line-height:0.8rem;
}
.vip-icon-wrap {
    display: inline-block;
    background-image:url("https://imgs.bipush.com/article/cover/201612/24/194730541022.png");
    background-size:10rem 10rem;
    background-repeat: no-repeat;
}
.vip-icon-close {
    background-position: 0.35rem 0.2rem;
}
.add-focus {
    padding-right: 0.6rem;
    padding-bottom:6.3rem;
    margin-top:0.5rem;
    position: relative;
}
.add-focus input {
    height:1.775rem;
    border:none;
    border-bottom:0.075rem solid #303030;
    color:#c0c0c0;
    border-radius:0;
}
.add-focus-icon {
    width: 2rem;
    height: 2rem;
    right:0.6rem;
    top:-0.2rem;
    background-position: -1rem 0.2rem;
}


.hx-download-app {
    background:#fff;
    padding:0 2rem;
}
.hx-download-app span {
    background:#f5f5f5;
    color:#303030;
    display: inline-block;
    border:0.05rem solid #e8e8e8;
    -webkit-border-radius:0.75rem;
    -moz-border-radius:0.75rem;
    border-radius:0.75rem;
    height:1.6rem;
    line-height:1.6rem;
    text-align: center;
    width: 100%;
}


.remind-info{
    padding: 1.2rem 1.35rem 0 0.8rem;
    background: #fff;
    color: #303030;
    font-size: 0.75rem;
    line-height:1.15rem;
}
.remind-info .title {
    font-size:0.8rem;
    line-height:1.35rem;
    margin-bottom:0.3rem;
    position: relative;
}
.remind-info p {
    font-size:0.75rem;
    line-height:1.15rem;
    margin-bottom:0.3rem;
    margin-top:0;
}
.remind-info p:last-child {
    margin-bottom:0;
}



.vip-icon-remind {
    width: 1rem;
    height: 1rem;
    background-position: 0 -1.85rem;
    vertical-align: top;
}

.ewm-box {
    margin-top:1.8rem;
    width:100%;
    text-align: center;
}
.ewm-box img {
    width:4rem;
    height:4rem;
    border:none;
    vertical-align: top;
}


.pay-title {
    color: #000;
    padding-top:0.75rem;
    text-align: center;
    font-weight: bold;
}

.pay-menu li{
    padding:0.8rem 1.5rem 0.85rem;
    border-bottom:0.05rem solid #F0F0F0;
    color: #000000;
    font-size:0.8rem;
    line-height:1.6rem;
}

.pay-icon{
    position: absolute;
    top:0.4rem;
    right:0.85rem;
    width:1.5rem;
    height:1.5rem;
    background-position: 0.2rem -3.6rem;
    cursor: pointer;
}


.invoice-info .icon-radio2{
    background-position: -1.95rem -4.05rem;
    margin-top:0.2rem;
}
.invoice-info li.active .icon-radio2 {
    background-position: 0 -4.05rem;
}
.invoice-info li input {
    width:11.5rem;
}
.invoice-info .note {
    color:#bbbbbb;
    font-size:0.65rem;
}
.icon-zb {
    /*width: 1.5rem;*/
    /*height: 1.5rem;*/
    background-position: -3.3rem -3.8rem;
}


.pay-way-box {
    margin-top: 0.25rem;
}

.pay-way .ticket-way {
    padding: 0.8rem 1.5rem 0.85rem 3.25rem;
    height:3.275rem;
    color: #000000;
    font-size: 0.8rem;
    line-height: 1.6rem;
    position: relative;
    border-bottom:0.025rem solid #f0f0f0;
}

.icon-vip-zf {
    position: absolute;
    top: 0.9rem;
    left: 1.2rem;
    width: 1.3rem;
    height: 1.3rem;
    background: url(../images/icon_vip2.png) no-repeat;
    -webkit-background-size: 10rem 10rem;
    background-size: 10rem 10rem;
    background-position: -8.4rem -0.15rem;
}

.pay-zfb .icon-vip-zf {
    background-position: -4.95rem -0.15rem;
}

.ticket-disabled .icon-vip-zf {
    background: url(../images/icon.png) no-repeat;
    background-size:12.5rem 15rem;
    background-position: -9.6rem -8.6rem;
}
.pay-zfb.ticket-disabled .icon-vip-zf {
    background-position: -11.1rem -8.6rem;
}

.ticket-disabled .pay-icon {
    background-position: -1.8rem -3.5rem;
}








/*研究预告*/
.report-project {
    padding:0.75rem 1rem;
    font-size:0.8rem;
    line-height:1.2rem;
    color:#8D8D8D;
}
.report-project h4 {
    text-align: center;
    font-size:0.85rem;
    color:#303030;
    margin-bottom:0.9rem;
}

.report-project i {
    display:block;
    width:1.5rem;
    height:0.1rem;
    background:#D0D0D0;
    margin:0.6rem 0;
}
.report-project p {
    font-size:0.75rem;
    line-height:1.1rem;
}
/*创新案例预告*/
.idea-case-yg {
    padding:1rem;
}
.idea-case-yg h4 {
    font-size:0.8rem;
    line-height:1.3rem;
    margin-bottom:1rem;
    color:#303030;
    text-align: center;
}
.idea-case-yg span {
    font-size:0.8rem;
    color: #1D1D1D;
    line-height:1.2rem;
}
.idea-case-yg i {
    display: block;
    margin:0.6rem 0;
    width:1.5rem;
    height:0.1rem;
    background:#D0D0D0;
}
.idea-case-yg p {
    font-size:0.75rem;
    line-height:1.1rem;
    color: #1D1D1D;
}
.vip-login-wrap {
    position: relative;
    background: #fff;
    width: 100%;
    height: 100%;
    padding: 0 1.95rem;
    color: #000;
    display: none;
    padding-top:2rem;
}
.vip-login-wrap>i {
    position: absolute;
    width: 2rem;
    height: 2rem;
    left: 50%;
    margin-left: -0.4rem;
    background-position: 0 -6.2rem;
    bottom: -6.5rem;
}
.area-list {
    margin-top: 2rem;
}
.area-list li {
    margin: 0 0.8rem 0 0.8rem;
    height: 2.3rem;
    border-top: 1px solid #dddddd;
    font-size: 0.8rem;
    line-height: 2.3rem;
    cursor: pointer;
}
/*新版资讯会员icon*/
.vip-icon-index {
    display: inline-block;
    background-image: url('../images/icon-vip3.png');
    background-size: 10rem 10rem;
    background-repeat: no-repeat;
}