{% extends '_user.html' %}

{% block form-info %}
    <div class="form-warp form-warp-error error-msg-info">
    </div>
    <div class="form-warp">
        <label class="control-label control-bind-label">新浪微博账号</label>
    </div>
    <div class="form-warp current-warp">
        <ul class="sub-tag-cnt acnt-sina clearfix">
            <li class="js-btn-bind">
                <a class="btn btn-add-acnt " href="https://www.huxiu.com/user/auth_login/sina.html"><i
                        class="icon icon-bind-add"></i>添加绑定</a>
            </li>
        </ul>
    </div>
    <div class="form-warp">
        <label class="control-label control-bind-label">QQ账号</label>
    </div>
    <div class="form-warp current-warp">
        <ul class="sub-tag-cnt acnt-sina clearfix">
            <li class="js-btn-bind ">
                <a class="btn btn-add-acnt " href="https://www.huxiu.com/user/auth_login/qq.html"><i
                        class="icon icon-bind-add"></i>添加绑定</a>
            </li>
        </ul>
    </div>
    <div class="form-warp">
        <label class="control-label control-bind-label">微信账号</label>
    </div>
    <div class="form-warp current-warp" style="margin-bottom: 30px">
        <ul class="sub-tag-cnt acnt-sina  clearfix">
            <li class="js-btn-bind">
                <a class="btn btn-add-acnt " href="https://www.huxiu.com/user/auth_login/weixin.html"><i
                        class="icon icon-bind-add"></i>添加绑定</a>
            </li>
        </ul>
    </div>
    <div class="form-warp">
        <label class="control-label control-bind-label">支付宝账号</label>
    </div>
    <div class="form-warp current-warp">
        <ul class="sub-tag-cnt acnt-sina clearfix">
            <li class="js-btn-bind">
                <a class="btn btn-add-acnt " href="https://www.huxiu.com/user/auth_login/alipay.html"><i
                        class="icon icon-bind-add"></i>添加绑定</a>
            </li>
        </ul>
    </div>

{% endblock %}