{#<div class="pl-box-wrap  " data-pid="612993" id="g_pid612993">#}
{#    <div class="pl-box-top">#}
{#        <div class="dropdown pull-right">#}
{#            <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"#}
{#                    aria-haspopup="true" aria-expanded="true">#}
{#                <span class="caret"></span>#}
{#            </button>#}
{#            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">#}
{#                <li class="pl-report js-report-pl" aid="178530" pid="612993">举报</li>#}
{#            </ul>#}
{#        </div>#}
{#        <div class="author-info">#}
{#            <div class="author-face"><img#}
{#                    src="https://imgs.bipush.com/auth/data/avatar/3.jpg!150x150?|imageMogr2/strip/interlace/1/quality/85/format/jpg">#}
{#            </div>#}
{#            <span class="author-name">#}
{#                    <a href="/member/1532464.html">BENSENCH</a>#}
{#                    <a href="/vip" target="_blank"></a>#}
{#                </span>#}
{#            <span class="time">1小时前</span>#}
{#        </div>#}
{#        <div class="pl-content">写的非常还，深入浅出，上面骂人的都看懂了么</div>#}
{#        <div class="dp-box">#}
{#            <span class="span-mark-author">点评</span>#}
{##}
{#            <span class="span-mark-article-pl js-show-hide-dp-box" data-show="false">展开</span>#}
{#            <div class="dl-user dl-user-list js-show-hide-dp-box " data-type="dl-user" style="display:block">#}
{#                <ul>#}
{#                    <li class="del-pl97040">#}
{#                        <a href="/member/1380515.html" target="_blank">#}
{#                            <img src="https://imgs.bipush.com/auth/data/avatar/1.jpg!150x150?|imageMogr2/strip/interlace/1/quality/85/format/jpg">#}
{#                        </a>#}
{#                        <span class="icon-s"></span>#}
{#                    </li>#}
{#                    <li class="del-pl97039">#}
{#                        <a href="/member/1380515.html" target="_blank">#}
{#                            <img src="https://imgs.bipush.com/auth/data/avatar/1.jpg!150x150?|imageMogr2/strip/interlace/1/quality/85/format/jpg">#}
{#                        </a>#}
{#                        <span class="icon-s"></span>#}
{#                    </li>#}
{#                    <li class="del-pl97038">#}
{#                        <a href="/member/1532464.html" target="_blank">#}
{#                            <img src="https://imgs.bipush.com/auth/data/avatar/3.jpg!150x150?|imageMogr2/strip/interlace/1/quality/85/format/jpg">#}
{#                        </a>#}
{#                        <span class="icon-s"></span>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#            <div class="dp-list-box" style="display:none">#}
{#                <div class="dl-user del-pl97040">#}
{#                    <ul>#}
{#                        <li><a href="/member/1380515.html" target="_blank"><img#}
{#                                src="https://imgs.bipush.com/auth/data/avatar/1.jpg!150x150?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a>#}
{#                        </li>#}
{#                    </ul>#}
{#                    <div class="one-pl-content">#}
{#                        <div class="pull-right time">13分钟前</div>#}
{#                        <p class="content">#}
{#                            <span class="name">王三洋</span>#}
{#                            <a href="/vip" target="_blank"></a>&nbsp;&nbsp;#}
{#                            :<span class="author-content">回复 <a href="https://www.huxiu.com/member/1380515.html"#}
{#                                                                target="_blank">@王三洋</a> ：呵呵呵~  呵呵呵~  呵呵呵~</span>#}
{#                        </p>#}
{#                        <div class="js-hf-article-pl"><span>回复</span></div>#}
{#                        <div class="hu-pl-box">#}
{#                            <textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>#}
{#                            <button class="btn btn-article js-article-dp" data-type="hf">发表</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="dl-user del-pl97039">#}
{#                    <ul>#}
{#                        <li><a href="/member/1380515.html" target="_blank"><img#}
{#                                src="https://imgs.bipush.com/auth/data/avatar/1.jpg!150x150?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a>#}
{#                        </li>#}
{#                    </ul>#}
{#                    <div class="one-pl-content">#}
{#                        <div class="pull-right time">19分钟前</div>#}
{#                        <p class="content">#}
{#                            <span class="name">王三洋</span>#}
{#                            <a href="/vip" target="_blank"></a>&nbsp;&nbsp;#}
{#                            :<span class="author-content">回复 <a href="https://www.huxiu.com/member/1532464.html"#}
{#                                                                target="_blank">@BENSENCH</a> ：完全不懂得人，会依然一头雾水。</span>#}
{#                        </p>#}
{#                        <div class="js-hf-article-pl"><span>回复</span></div>#}
{#                        <div class="hu-pl-box">#}
{#                            <textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>#}
{#                            <button class="btn btn-article js-article-dp" data-type="hf">发表</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="dl-user del-pl97038">#}
{#                    <ul>#}
{#                        <li><a href="/member/1532464.html" target="_blank"><img#}
{#                                src="https://imgs.bipush.com/auth/data/avatar/3.jpg!150x150?|imageMogr2/strip/interlace/1/quality/85/format/jpg"></a>#}
{#                        </li>#}
{#                    </ul>#}
{#                    <div class="one-pl-content">#}
{#                        <div class="pull-right time">1小时前</div>#}
{#                        <p class="content">#}
{#                            <span class="name">BENSENCH</span>#}
{#                            <a href="/vip" target="_blank"></a>&nbsp;&nbsp;#}
{#                            :<span class="author-content">@BENSENCH<br>写的非常好</span>#}
{#                        </p>#}
{#                        <div class="js-hf-article-pl"><span>回复</span></div>#}
{#                        <div class="hu-pl-box">#}
{#                            <textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>#}
{#                            <button class="btn btn-article js-article-dp" data-type="hf">发表</button>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="close-dp-list-box js-show-hide-dp-box" data-buttom="true">收起</div>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{#    <div class="pl-box-btm">#}
{#        <div class="article-type pull-right">#}
{#            <div class="icon-like-prompt">#}
{#                <i class="icon icon-like active"></i><span class="c1">+1</span>#}
{#            </div>#}
{#            <div class="icon-no-like-prompt">#}
{#                <i class="icon icon-no-like active"></i><span class="c1">+1</span>#}
{#            </div>#}
{#            <ul>#}
{#                <li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">0</span>#}
{#                </li>#}
{#                <li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span#}
{#                        class="like">1</span></li>#}
{#            </ul>#}
{#        </div>#}
{#        <div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>#}
{#        <div class="pl-form-box dp-article-box">#}
{#            <textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>#}
{#            <button class="btn btn-article js-article-dp">发表</button>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

{% for comment in comments %}
    <div class="pl-box-wrap  " data-pid="{{ comment.id }}" id="g_pid{{ comment.id }}">
        <div class="pl-box-top">
            <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    {% ifequal comment.creator.id user.id %}
                        <li class="js-delpl-btn" aid="{{ comment.id }}" pid="{{ comment.id }}">删除</li>
                    {% else %}
                        <li class="pl-report js-report-pl" aid="{{ comment.article.id }}" pid="{{ comment.id }}">举报</li>
                    {% endifequal %}
                </ul>
            </div>
            <div class="author-info">
                <div class="author-face"><img
                        src="{{ comment.creator.avatar_url }}">
                </div>
                <span class="author-name">
                    <a href="{% url 'member:index' comment.creator_id %}"
                       target="_blank">{{ comment.creator.display_name }}</a>
{#                    <a href="/vip" target="_blank"></a>#}
                </span>
                <span class="time">{{ comment.created_at }}</span>
            </div>
            <div class="pl-content">{{ comment.content }}</div>
        </div>
        {#    <div class="pl-box-btm">#}
        {#        <div class="article-type pull-right">#}
        {#            <div class="icon-like-prompt">#}
        {#                <i class="icon icon-like active"></i><span class="c1">+1</span>#}
        {#            </div>#}
        {#            <div class="icon-no-like-prompt">#}
        {#                <i class="icon icon-no-like active"></i><span class="c1">+1</span>#}
        {#            </div>#}
        {#            <ul>#}
        {#                <li class="js-icon-like" data-type="like"><i class="icon icon-like "></i><span class="like">1</span>#}
        {#                </li>#}
        {#                <li class="js-no-icon-like" data-type="no-like"><i class="icon icon-no-like "></i><span#}
        {#                        class="like">0</span></li>#}
        {#            </ul>#}
        {#        </div>#}
        {#        <div class="btn-dp transition js-add-dp-box"><i class="icon icon-dp"></i>我要点评</div>#}
        {#        <div class="pl-form-box dp-article-box">#}
        {#            <textarea class="form-control" placeholder="客官，8个字起评，不讲价哟"></textarea>#}
        {#            <button class="btn btn-article js-article-dp">发表</button>#}
        {#        </div>#}
        {#    </div>#}
    </div>
{% endfor %}