<input class="hide" id="related-article-wrap-hide" value="182748">
<div id="related-article-wrap"><!--相关文章-->
    <div class="placeholder-line"></div>
    <div class="recommended-box related-box">
        <h2>相关阅读</h2>
        <span class="span-line"></span>
    </div>
    <div class="related-article-wrap">
        <ul class="rec-article-feed-ul">
            <input type="hidden" id="relatedSourceType" value="manual">

            <li>
                <a class="js-related-article" href="https://m.huxiu.com/article/182677.html" data-id="182677">
                    <div class="rec-article-pic fr">
                        <img src="/static/mobile/094713361644.jpg" style="display: inline;">
                    </div>

                    <div class="rec-article-info">
                        <h2>
                            <span>复盘顺丰24年：王卫强势收权成关键转折点</span>
                        </h2>
                        <div class="rec-article-time clearfix">
                            <span class="fl">2天前</span>
                            <span class="fr">
                                            <em>39</em>人收藏
                                        </span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a class="js-related-article" href="https://m.huxiu.com/article/182547.html" data-id="182547">
                    <div class="rec-article-pic fr">
                        <img src="/static/mobile/141724090541.jpg" style="display: inline;">
                    </div>

                    <div class="rec-article-info">
                        <h2>
                            <span>顺丰完成上市：高效借壳、另类管理学以及中国新首富？</span>
                        </h2>
                        <div class="rec-article-time clearfix">
                            <span class="fl">4天前</span>
                            <span class="fr">
                                            <em>61</em>人收藏
                                        </span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a class="js-related-article" href="https://m.huxiu.com/article/182537.html" data-id="182537">
                    <div class="rec-article-pic fr">
                        <img src="/static/mobile/131907394135.jpg" style="display: inline;">
                    </div>

                    <div class="rec-article-info">
                        <h2>
                            <span>顺丰上市老板王卫豪掷十余亿给员工发红包：最低1888元起</span>
                        </h2>
                        <div class="rec-article-time clearfix">
                            <span class="fl">4天前</span>
                            <span class="fr">
                                            <em>15</em>人收藏
                                        </span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a class="js-related-article" href="https://m.huxiu.com/article/178901.html" data-id="178901">
                    <div class="rec-article-pic fr">
                        <img src="/static/mobile/070811975355.jpg" style="display: inline;">
                    </div>

                    <div class="rec-article-info">
                        <h2>
                            <span>顺丰也无法挽救的“最后100米”，谁的痛点谁的坑？</span>
                        </h2>
                        <div class="rec-article-time clearfix">
                            <span class="fl">2017-01-20</span>
                            <span class="fr">
                                            <em>119</em>人收藏
                                        </span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a class="js-related-article" href="https://m.huxiu.com/article/152592.html" data-id="152592">
                    <div class="rec-article-pic fr">
                        <img src="/static/mobile/070700qaif1qy9iqbxrwq4.jpg"
                             style="display: inline;">
                    </div>

                    <div class="rec-article-info">
                        <h2>
                            <span>前有堵截后有追兵，上市的顺丰出路何在？</span>
                        </h2>
                        <div class="rec-article-time clearfix">
                            <span class="fl">2016-06-16</span>
                            <span class="fr">
                                            <em>35</em>人收藏
                                        </span>
                        </div>
                    </div>
                </a>
            </li>
            <li>
                <a class="js-related-article" href="https://m.huxiu.com/article/151962.html" data-id="151962">
                    <div class="rec-article-pic fr">
                        <img src="/static/mobile/065628863051.png" style="display: inline;">
                    </div>

                    <div class="rec-article-info">
                        <h2>
                            <span>顺丰商业之战略复盘：嘿客是如何坠落的？</span>
                        </h2>
                        <div class="rec-article-time clearfix">
                            <span class="fl">2016-06-12</span>
                            <span class="fr">
                                            <em>295</em>人收藏
                                        </span>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>