<!--传言部分开始-->
<div id="rumor_center"></div>
<div class="box-moder moder-rumors-list">
    <h3>传言</h3>
    <!--    <span class="pull-right project-more story-more"><a href="-->
    <!--" class="transition" target="_blank">全部</a></span>-->
    <span class="span-mark"></span>
    <div class="big2-pic pull-right">
        <a href="https://www.huxiu.com/#" class="back-img" target="_blank">
            <img class="lazy" src="/static/img/163641576684.jpg" alt="">
        </a>
        <a href="https://chuanyan.huxiu.com/rumor/detail/481.html" target="_blank">
            <div class="big2-pic-content">
                <h2 class="t-h1">大疆或将收购世界著名相机厂商哈苏</h2>
            </div>
            <div class="clear"></div>
        </a>
    </div>
    <div class="clear"></div>
    <ul class="rumorlist">
        <li>
            <div class="icon-clock"><img src="/static/img/clock.jpg"></div>
            <p class="rumor-time">01月05日 16:36</p>
            <p class="rumor-detail"><a href="https://chuanyan.huxiu.com/rumor/detail/481.html" target="_blank">luminous
                landscape爆料，根据多个可靠信源，大疆或将收购国...</a></p>
        </li>
    </ul>
    <div class="rumor-more">
        <p><a href="https://chuanyan.huxiu.com/rumor/detail/481.html" target="_blank">详情&gt;&gt;</a></p>
    </div>
    <div class="rumor-brunt-box">
        <a class="btn btn-blue-cy js-update-cy transition  js-show-bruntback-box1"
           data-url="https://chuanyan.huxiu.com/api/source/add">我要爆料</a>
    </div>
</div>
<div class="placeholder"></div>
<!--传言部分结束-->

<div class="placeholder"></div>