{% extends 'post/_post.html' %}

{% block message-box %}

    <div class="message-box">
        <ul>
            {% for object in object_list %}
                <li type="comment" pid="{{ object.id }}">
                    <div class="message-title">
                        <a href="{% url 'article:details' object.article_id %}"
                           target="_blank">{{ object.content }}</a>
                    </div>
                    <div class="message-time">
                        {{ object.created_at }} <span class="message-article">来自文章：<a
                            href="{% url 'article:details' object.article_id %}"
                            target="_blank">{{ object.article.title }}</a></span>
                    </div>
                    {% if is_me %}
                        <div class="pull-right message-delete hide"><i class="icon icon-delete js-pc-del-user"></i>
                        </div>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>

{% endblock %}

{% block no-content %}
    您还没有评论
{% endblock %}